version: "3.3"

services:
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: myapp
      MYSQL_PASSWORD: secret
    ports:
      - '3306:3306'
    restart: always
    networks:
      - mynet

  myphp:
    depends_on:
      - mysql
    build: .
    expose:
      - "9000"
    volumes:
      - ./public:/var/www/html/public
    restart: always
    networks:
      - mynet
  
  nginx:
    depends_on:
      - myphp
    image: nginx:latest
    ports:
      - '8080:80'
    volumes:
      - ./public:/var/www/html/public
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - myphp
    networks:
      - mynet
  
  phpMyAdmin:
    depends_on:
      - mysql
      - myphp
    image: phpmyadmin:latest
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITUARY: 1
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: myapp
      MYSQL_PASSWORD: secret
    restart: always
    ports:
      - 8081:80

networks:
  mynet:
    driver: bridge
